<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="layout :: site-head">
    <meta charset="UTF-8">
    <title>Spring MVC Application - create new post</title>
</head>
<body>
<form method="post" th:action="@{/posts/create}">
<h1>Create New Post: </h1>
<div>Post Title:</div>
<div><input type="text" id="title" name="title" /></div>

<div>Description:</div>

<div><textarea rows="7" cols="100" name="body"></textarea></div>

<div>
    <input type="submit" value="Submit"/>
</div>
</form>
</body>
</html>